* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

ul, ol, li, h1, h2, h3, h4, figure, button, p, form {
  margin: 0;
  padding: 0;
  list-style: none
}

input,
textarea {
  border: none;
}

figure,
picture {
  img,
  source {
    max-width: 100%;
  }
}