.form {
  $form: &;

  align-items: center;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;

  &__title {
    @include text--light;
    @include text--medium;

    width: 100%;
    color: $c-white;

    + * {
      margin-top: px2rem($base * 3)
    }
  }

  input,
  textarea {
    + * {
      margin-top: px2rem($base * 2);
    }
  }
}